.countdown-clock {
  text-align: center;
  width: 100%;
}

.countdown-clock .col {
  padding: 0px;
  margin: 5px;
}

.countdown-number span {
  font-size: 12px;
}
.countdown-number h3 {
  font-size: 50px;
  margin: 0px;
}
