.TXwindow {
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #1a2228;
  height:305px;
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.TXwindow::-webkit-scrollbar {
  display: none;
}

.tx {
  border-radius: 10px;
  border: 2px solid #5d432c;
  height: 80px;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
}
.tx.Pending {
  border: 2px solid #ffae42;
}
.tx.Successful {
  border: 2px solid #00ff00;
}
.tx.Failed {
  border: 2px solid #ff0000;
}
