.WellStatus .col {
  text-align: center;
}
div.Status.col {
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.WellStatus .row:nth-child(3) {
  margin-top: 40px;
}

.WellStatus .row:nth-child(3) .col {
  margin-bottom: 10px;
}
